body{
    background-image: url(../images/dust_scratches.png);
    height: 100%;
    padding: 0;
    margin: 0;
}

#navheader{
    padding-left: 0;
}

.navbar-header{
    background-color: #4aaaa5;
    font-size: 40px;
    color: #ffffff;
    width: 250px;
    margin-top: 10px;
    padding-right: 5px;
    padding-left: 5px;
    line-height: 45px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav.navbar-nav.navbar-right{
    position: relative;
    padding-right: 40px;
    padding-top: 40px;
}

#aboutme{
    background-color: #ffffff;
    padding: 20px;
    border-style: solid;
    border-color: #dddddd;
    border-width: 1px;
    margin-bottom: 50px;
}

#profpic{
    width: 220px;
    height: 275px;
    float: left;
    margin-top: 20px;
}

p{
    font-size: 20px;
    color: #666666;
    padding-top: 10px;
}

.col-md-3{
    background-color: #ffffff;
    text-align: center;
    padding: 20px;
    border-style: solid;
    border-color: #dddddd;
    border-width: 1px;
}

h3{
    text-decoration: underline;
    text-decoration-color: #666666;
    color: #4aaaa5;
    padding-bottom: 10px;
}

.links{
    list-style-type: none;
    display: inline-flex;
    flex-direction: row;
    padding-left: 0;
    
}

#github, #stack {
    height: 65px;
    padding-bottom: 10%;
    padding-top: 10%;
    padding-left: 0;
}

#linkedin {
    height: 65px;
    padding-bottom: 5%;
    padding-top: 5%;
    padding-left: 0;  
}

#contact{
    background-color: #ffffff;
    padding-bottom: 20px;
    padding-top: 20px;
    border-style: solid;
    border-color: #dddddd;
    border-width: 1px;
    margin-bottom: 33px;
}

.form-group{
    padding-top: 10px;
}

.portfolio{
    background-color: #ffffff;
    padding: 20px;
    position:  relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 125px;
    border: solid;
    border-color: #dddddd;
    border-width: 1px;
}

.portfolio h3{
    background-color: #4aaaa5;
    text-align: center;
    width: 260px;
    position: relative;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: none;
    margin: 0;
    padding-top: 10px;
    margin-bottom: 12px;
}

.portimages{
    position: relative;
    display: inline;
    padding-top: 30px;
}


#trains, #gif, #rpg{
    margin-right: 0;
    float: right;
}

.col-md-6{
    margin-top: 20px;
}

#header{
    color: #4aaaa5;
    font-size: 30px;
    border-bottom: solid;
    border-color: #666666;
    padding: 10px;
    width: 100%;
}

#footer{
    text-align: center;
    background-color: #666666;
    color: #ffffff;
    padding: 20px;
    position: static;
    bottom: 0;
    right: 0;
    left: 0;
    border-top: #4aaaa5;
    border-top-style: solid;
    z-index: 1;
    
}